* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  line-height: 1.5;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  width: 100%;
  display: block;
}
input,
button {
  border: none;
  outline: none;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.clearfix {
  *zoom: 1;
}
.border {
  border: 2px solid #4d71d4 !important;
}
.el-tabs__item {
  color: #303133;
}
.empty {
  width: 100%;
  height: 100%;
  line-height: 100%;
  text-align: center;
}
.empty h3 {
  color: #303133;
}
body #app {
  width: 100vw;
  min-height: 100vh;
  background-image: url(../images/talk_bg.png);
  background-size: cover;
  background-position: 100% 100%;
  background-repeat: no-repeat;
}
body #app header .viewport_login_head {
  width: 100vw;
  text-align: center;
  padding: 20px 0;
}
body #app header .viewport_login_head h1 {
  font-size: 3.5vw;
  color: #000000;
}
@media (min-width: 1280px) {
  body #app header .viewport_login_head h1 {
    font-size: 45px;
  }
}
@media (max-width: 1280px) {
  body #app header .viewport_login_head h1 {
    font-size: 45px;
  }
}
body #app header .viewport_system_head {
  width: 100vw;
  text-align: center;
  padding: 20px 0;
}
body #app header .viewport_system_head h1 {
  font-size: 3.5vw;
  color: #050505;
}
@media (min-width: 1280px) {
  body #app header .viewport_system_head h1 {
    font-size: 45px;
  }
}
@media (max-width: 1280px) {
  body #app header .viewport_system_head h1 {
    font-size: 45px;
  }
}
body #app main .btnGroup {
  width: 80vw;
  margin: 0 auto;
  text-align: right;
}
body #app main .viewport_login_msg {
  width: 100vw;
  height: calc(90vh - (40px + 3.5vw));
}
@media (min-width: 1280px) {
  body #app main .viewport_login_msg {
    height: calc(90vh - (40px + 45px));
  }
}
@media (max-width: 1280px) {
  body #app main .viewport_login_msg {
    height: calc(90vh - (40px + 45px));
  }
}
body #app main .viewport_login_msg .animate__animated.animate__fadeInDown {
  --animate-duration: 1.5s;
}
body #app main .viewport_login_msg .login_msg:last-child {
  margin-bottom: 0px;
}
body #app main .viewport_login_msg .login_msg {
  width: 40vw;
  min-height: 345px;
  min-width: 390px;
  height: 30vw;
  margin: 40px auto;
  text-align: center;
  border-radius: 50px;
  background: #e9e9e9;
  box-shadow: 20px 20px 60px #c6c6c6, -20px -20px 60px #ffffff;
  padding: 8vw 0;
}
@media (min-width: 1280px) {
  body #app main .viewport_login_msg .login_msg {
    width: 512px;
    height: 384px;
  }
}
body #app main .viewport_login_msg .login_msg .msgBox {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;
}
body #app main .viewport_login_msg .login_msg .msgBox .msgBoxName {
  width: 55px;
  line-height: 40px;
  font-size: 16px;
  padding: 16px/2 0;
  text-align: center;
  color: #000000;
}
body #app main .viewport_login_msg .login_msg .msgBox .msgBoxContent {
  width: 80%;
}
body #app main .viewport_login_msg .login_msg .msgBox .msgBoxContent .el-input .el-input__inner {
  background-color: #e7e7e7;
}
body #app main .viewport_login_msg .login_msg .msgBox .msgBoxContent .el-select {
  width: 100%;
}
body #app main .viewport_login_msg .login_msg .msgBox .msgBoxContent .el-select .el-input {
  width: 100%;
}
body #app main .viewport_login_msg .login_msg .btn {
  margin-top: 15px;
}
body #app main .viewport_search_city {
  position: sticky;
  top: -50px;
  width: 100vw;
  padding: 60px 0;
  z-index: 99;
}
body #app main .viewport_search_city .search_city {
  width: 70%;
  margin: 0 auto;
  box-shadow: 0;
  border: 1px solid #dfe1e5;
  overflow: hidden;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
body #app main .viewport_search_city .search_city .el-autocomplete {
  width: 100%;
}
body #app main .viewport_search_city .search_city .el-autocomplete .el-input {
  width: 70vw;
}
body #app main .viewport_search_city .search_city .el-autocomplete .el-input .el-input__inner,
body #app main .viewport_search_city .search_city .el-autocomplete .el-input .el-input-group__append {
  border: 0;
}
body #app main .viewport_search_city .search_city .el-autocomplete .el-input .el-input__inner {
  background-color: #fff;
}
body #app main .viewport_search_city .search_city .el-autocomplete .el-input .el-button {
  width: 70px;
}
body #app main .viewport_search_city .search_city:hover {
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}
body #app main .viewport_before_search_city_msg {
  width: 100vw;
}
body #app main .viewport_before_search_city_msg .city_msg_nav {
  width: 80vw;
  margin: 0 auto;
  margin-top: 7vh;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent {
  width: 100%;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .city_img {
  width: 100%;
  height: 77%;
  padding: 10px;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .city_img .content::-webkit-scrollbar {
  display: none;
  /* Chrome Safari */
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .city_img .content {
  width: 100%;
  height: 515px;
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .city_img .content .el-form .el-select {
  width: 50%;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .city_img .content .el-form .el-select .el-input {
  width: 100%;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .city_img .content ul .item_img {
  display: none;
  width: 140px;
  height: 140px;
  background-color: #fff;
  margin: 0px 23px;
  padding: 5px;
  border: 1px solid #dfe1e5;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .city_img .content ul .item_img img {
  display: block;
  height: 130px;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .city_img .bigItem {
  display: none;
  width: 70%;
  height: 358px;
  background-color: #fff;
  margin: 0 15%;
  margin-top: 20px;
  border: 1px solid #dfe1e5;
  padding: 3px;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .city_img .bigItem img {
  height: 350px;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .city_msg {
  width: 30%;
  height: 77%;
  padding: 10px;
  border-left: 2px solid #dfe1e5;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .city_msg .imgCityMsg {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 60px;
  line-height: 60px;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .city_msg .imgCityMsg .text {
  flex: 1;
  text-align: left;
  color: #fff;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .city_msg .imgCityMsg .num {
  flex: 1;
  text-align: center;
  font-size: 2rem;
  color: #00aeff;
  border-bottom: 3px solid #dfe1e5;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .city_msg .imgCityMsg .num span {
  font-size: 3rem;
  font-weight: 700;
  color: #aaa;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .uploadImg {
  display: none;
  width: 100%;
  height: calc(100% - 77%);
  margin-top: 55px;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .tabContent .uploadImg input {
  margin-right: 15px;
  margin-bottom: 10px;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .imgCityMsg {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 60px;
  line-height: 60px;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .imgCityMsg .text {
  flex: 1;
  text-align: center;
  color: #fff;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .imgCityMsg .num {
  flex: 2;
  text-align: center;
  font-size: 2rem;
  color: #00aeff;
  border-bottom: 3px solid #dfe1e5;
}
body #app main .viewport_before_search_city_msg .city_msg_nav .imgCityMsg .num span {
  font-size: 3rem;
  font-weight: 700;
  color: #aaa;
}
